* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  display: grid;
  place-items: center;
  height: 100vh;
}

.spinner {
  position: relative;
  background-color: #009688;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: conic-gradient(#f7ea00, transparent);
  animation: rotate 1s linear infinite;
}

/* Color Cargando 009688 */
.spinner:before,
.spinner:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.spinner:before {
  width: 80%;
  height: 80%;
  top: 10px;
  left: 10px;
  background-color: #222;
}

.spinner:after {
  height: 10%;
  width: 10%;
  background-color: #f7ea00;
  top: 0;
  left: 45%;
}

p {
  /* Color Cargando */

  font-family: tahoma;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-top: 15%;
}

/* velocidad de la rotacion */
@keyframes rotate {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
